<br>
<%= form_with model: @post do |form| %>
  <div class="container">
    <div>
      <label for="exampleFormControlInput1" class="form-label">Title</label><br>
      <%= form.text_field :title, placeholder: 'Title goes here'%>
    </div><br>

    <div>
      <label for="exampleFormControlInput1" class="form-label">Comment</label><br>
      <%= form.text_area :body, placeholder: 'Comment goes here' %>
    </div><br>

    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>