<div class="container-fluid">
  <br>
  <%= form_with model: @post do |form| %>
    <div>
      <h3><label for="exampleFormControlInput1" class="form-label">Title</label></h3>
      <%= form.text_field :title, placeholder: 'Title goes here'%>
    </div><br>

    <div>
      <h3><label for="exampleFormControlInput1" class="form-label">Comment</label></h3>
      <%= form.text_area :body, placeholder: 'Comment goes here' %>
    </div><br>

    <div>
      <%= button_tag "Submit", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>